<div class="container">
    <div class="row p-2">
      <div class="card shadow">
        <div class="card-body mb-2 intro">
          Welcome to Electric Commute! This web-app is designed to help you plan your electric transport
          journeys efficiently. With Electirc Communte, you can calculate the estimated time it will take 
          to travel a specific distance on an electric transport. You can also input the amount of time you wish 
          to travel for and the app would calculate the maximum distance that the electric transport can travel in that given
          time.  
        </div>
      </div>
    </div>
  </div>