<div class="navbar">
    <div class="container-fluid justify-content-center">
      <a href="#" class="navbar-brand">
        <img id="brand"  src="https://www.svgrepo.com/show/24993/lightning-bolt-black-shape.svg" alt="" srcset="">
        <span>Commute</span>
      </a>
    </div>
  </div>